<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <span class="friendship-action-buttons">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            <% unless current_user == user %>
              <% if @requests.include?(user) %>
                |
                <%= link_to 'Accept Invitation',  confirm_friendship_path(friend_id: user.id), method: :get, class: 'profile-link' %>
                |<%= link_to 'Reject Invitation',  reject_friendship_path(friend_id: user.id), method: :get, class: 'profile-link' %>
              <%else%>
                <%unless (@pendings.include?(user) || @friends.include?(user)) %>
                  | <%= link_to 'Invite to friendship',  friendships_path(friend_id: user.id), method: :post, class: 'profile-link' %>
                <%end%>
              <% end %>
            <% end %>
          </span>
          <span><% if @friends.include?(user) %>
              <span>It's already your friend</span>
            <% end %>
            <% if @pendings.include?(user) %>
              <span>Pending request friendship</span>
            <% end %>
          </span>
        </span>
      </li>
    <% end %>
  </ul>
</section>
