<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <span class="profile-link">
    <span class="friendship-action-buttons">
      <% unless current_user == @user %>
        <% if @requests.include?(@user) %>
          |
          <%= link_to 'Accept Invitation',  confirm_friendship_path(friend_id: @user.id), method: :get, class: 'profile-link' %>
          |<%= link_to 'Reject Invitation',  reject_friendship_path(friend_id: @user.id), method: :get, class: 'profile-link' %>
        <%else%>
          <%unless (@pendings.include?(@user) || @friends.include?(@user)) %>
            | <%= link_to 'Invite to friendship',  friendships_path(friend_id: @user.id), method: :post, class: 'profile-link' %>
          <%end%>
        <% end %>
      <% end %>
    </span>
    <span><% if @friends.include?(@user) %>
        <span>It's already your friend</span>
      <% end %>
      <% if @pendings.include?(@user) %>
        <span>Pending request friendship</span>
      <% end %>
    </span>
  </span>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
